<!DOCTYPE html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
{{- if eq .RelPermalink "/"}}
<title>Aliens in the Apple | Ben &amp; Franci and co (sort of) in New York City</title>
<meta name="description" content="Ben &amp; Franci Hoyt’s old family blog when they were living in New York.">
{{- else}}
<title>{{ .Title }} | Aliens in the Apple</title>
{{ if .Summary -}}<meta name="description" content="{{ .Summary }}">{{- end }}
{{- end }}
<link rel="stylesheet" href="/main.css">
<link rel="icon" type="image/png" href="/favicon.png">
</head>

<body>
<header><a href="/">Aliens in the Apple</a></header>
{{ block "main" . }}{{ end }}
<footer>
 <a href="/">Home</a>
 <a href="/about/">About</a>
 <a href="/contact-us/">Contact</a>
 <a href="/copyright/">Copyright</a>
 <a href="/other-links/">Links</a>
</footer>
</body>
</html>
